.displayWrapper {
    display: inline-block;
    margin-bottom: 20px;
    width: 400px;
}

.displaySquare {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.displayInfo {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 175px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid darkgreen;
}

.displayStat {
    margin-right: 10px;
}

/* .displayStat em {
    color: black;
} */

/* .precipStat {
    color: rgb(23, 63, 173);
}

.tempStat {
    color: rgb(179, 36, 36);
} */
