.aridity1 {
    background-color: rgb(201, 162, 57);
}

.aridity2 {
    background-color: rgb(201, 179, 57);
}

.aridity3 {
    background-color: rgb(201, 199, 57);
}

.aridity4 {
    background-color: rgb(199, 201, 57);
}

.aridity4 {
    background-color: rgb(175, 201, 57);
}


.p1t1 {

}
