.lifeformDisplayWrapper {
    display: flex;
    flex-direction: row;
    width: 72%;
    margin-left: 10px;
    padding-left: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.lifeform {
    margin-top: 10px;
}

.plants {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.plantDetails {
    margin-left: 10px;
}

.plantList {
    width: 180px;
}

.plantList li{
    padding-top: 5px;
}

.lifeformDetails {
    margin-left: 10px;
    padding-left: 10px;
}

.plantProfile {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
