.worldInfoWrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.seasonInfo {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.worldInfoData {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 175px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid darkgreen;
}

.worldInfoData h5 {
    text-align: center;
}

.worldInfoStat {
    worldInfo: inline-block;
    color: darkgreen;
    margin-right: 10px;
}

.worldInfoStat em {
    color: black;
}
